@import "tailwindcss";
 
/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Old IE / Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Old Edge / IE */
* {
  -ms-overflow-style: none;
}
